<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail Favorites</title>
    <link rel="stylesheet" type="text/css" href="./styles/reset.css">
    <link rel="stylesheet" type="text/css" href="./styles/stylesTaylor.css">
  </head>
  <body id="cock-body">
    <header id="header" >
      <nav>
      <ul>
       <li><a href="./aboutus"> ABOUTUS PAGE</a></li> 
        <li><a href="/">SEARCH AGAIN</a></li>
    </ul>
    </nav>
    </header>
    <main>
  
      <% data.forEach(value => { %>
        <section id= "drinkFavoriteResults">
        <h2 id="drinkName"><%= value.drinkname %></h2>
        <img id="img" src="<%= value.img %>"></img>
        <li hidden id="idDrink"><%= value.idDrink %></li>

        <input type="hidden" name="drinkName" value="<%= value.drinkName %>">
        <input type="hidden" name="img" value="<%= value.img %>">
        <input type="hidden" name="idDrink" value="<%= value.idDrink %>">
        <form action="/deleteCocktail/<%= value.id%>?_method=DELETE" method="POST">
        <button id="delete-btn" type="submit">DELETE</button>
      </form>
    </section>
    <% }) %>
      
  </main>

  </body>
</html>
