<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail Search Display</title>
    <link rel="stylesheet" type="text/css" href="./styles/reset.css">
    <link rel="stylesheet" type="text/css" href="./styles/stylesTaylor.css">
    
  </head>
  <body id="cock-body" >

    <header id="header">
      <a href="/cocktailFavorites">SAVED COCKTAILS</a>

    </header>

    <main>
      <header>
      <nav>
        <ul>
         <li><a href="./aboutus"> ABOUTUS PAGE</a></li> 
          <li><a href="./allFavorites">FAVORITES PAGE</a></li>
      </ul>
      </nav>
      </header>
      
      <% data.forEach(value => { %>
        <section id= "drinkResults">

            <h2 id="drinkName"><%= value.drinkName %></h2>
            <img id="img" src="<%= value.img %>"></img>
            <li hidden id="idDrink"><%= value.idDrink %></li>
    

          <form action="/faves" method="POST">
          <input type="hidden" name="drinkName" value="<%= value.drinkName %>">
          <input type="hidden" name="img" value="<%= value.img %>">
          <input type="hidden" name="idDrink" value="<%= value.idDrink %>">
          <button id="cock-fav-btn" type="submit">Favorite this Drink</button>
          </form>
      </section>
     
    <% }) %>
    
  </main>
  
  </body>
</html>