<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css" >
  <link rel="stylesheet" href="./styles/layouts.css" >
  <link rel="stylesheet" href="./styles/modules.css"> 
  

  <title>final project</title>
</head>
<body>
  <h1 id="recipe-h1" > Favorite Meal List </h1>
  <a id="recipesearch-btn" href='/recipeSearch'> Go to Search page </a>
  <!-- rendered from Database as favorite item -->

  <div class="result-container">
    <%recipe.forEach(results=>{%>
    <h3 id="recipe-title"><%=results.title%></h3>
    <img class="recipe-image" src="<%=results.image%>" alt="<%=results.title%>">
    <p id="recipe-ingre"><%=results.ingredients%></p>
    <p id="recipe-cuisines"><%=results.cuisines%></p>
</div>

  <form action = "/recipeFavorites" method="post">
  <input type="hidden" name="image" value="<%= results.image%>">
    <input type="hidden" name="title" value="<%= results.title%>">
    <input type="hidden" name="ingredients" value="<%= results.ingredients%>">
    <input type="hidden" name="cusines" value="<%= results.cusines%>">
    <!-- <button class="button-black" type="submit">add to Database</button> -->
    </form>

    <form method="POST" action="/delete/<%=results.id %>?_method=DELETE">
  
      <button id="delete-btn" >delete recipe </button>
     </form>
    <% }) %>
  
</body>
</html>