<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css" >
  <link rel="stylesheet" href="./styles/layouts.css" >
  <link rel="stylesheet" href="./styles/modules.css"> 
  

  <title>final project</title>
</head>
<nav>
  <!-- <a href='/recipeFavorites'> FAVORITES PAGE</a> -->
  
</nav>
<body>
  <header>
<h1 id="recipe-h1" > RECIPE LIST   </h1>
</header>
<a id="favo-btn" href='/recipeFavorites'> FAVORITES PAGE</a>
<li><a id="home-btn" href='/'> Go to Home Page </a></li>


<main>
 
<%recipe.forEach(results=>{%>
    <section>
          <img class="recipe-image" src="<%=results.image%>" alt="<%=results.title%>">
          <h3 id="recipe-title"><%=results.title%></h3>
      <form action = "/recipeFavorites" method="post">
        <input type="hidden" name="image" value="<%= results.image%>">
        <input type="hidden" name="title" value="<%= results.title%>">
        <input type="hidden" name="ingredients" value="<%= results.ingredients%>">
        <input type="hidden" name="cusines" value="<%= results.cusines%>">
        <input type="hidden" name="keyword" value="<%= results.keyword%>">
        <button id="Database-btn" type="submit">add to Database</button>
        </form>

    </section>
        
    <% }) %>
    
  </main>

    </body>

</html>